//base style
*{
    margin: 0;
    padding: 0;
    color: currentColor;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    font-size: 62.5%;
}

button{
    background: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    color: #970197;
    transition: all .2s;
    margin: 1rem;
    padding: .5rem 1.3rem;
    border-radius: 1rem;

    &:hover{
        background-color: #970197;
        color: #fff;
    }
}

//imports
@import "./navbar";
@import "./home";
@import "./create";
@import "./popup";
@import "./game";